<!doctype html>
<html lang="en">
  <head>
    <title>Settings - LoL Playtime Tracker</title>
  </head>
  <body>
    <h1>Settings</h1>

    <form method="post">
      <label>
        Riot ID:
        <input type="text" name="riot_id" value="{{ settings.riot_id }}" />
      </label>

      <br />

      <label>
        Tagline:
        <input type="text" name="tagline" value="{{ settings.tagline }}" />
      </label>

      <br />

      <label>
        Region:
        <input type="text" name="region" value="{{ settings.region }}" />
      </label>

      <br />

      <label>
        API Key:
        <input type="password" name="api_key" value="{{ settings.api_key}}" />
      </label>

      <br />

      <button type="submit">Save settings</button>
    </form>
  </body>
</html>
